<section class="phx-hero">
  <h1>url shortener</h1>
  <form action="/" method="post">
    <input name="_csrf_token" type="hidden" value={@csrf}>
    I want <%= @homeurl %>/ <input type="text" name="customurl"> to redirect to <input type="text" name="url"><br>
    <input type="submit" value="make it so">
  </form>
</section>

